---
BasedOnStyle: LLVM
IndentWidth: 4
ColumnLimit: 120
NamespaceIndentation: None
AccessModifierOffset: -4
PointerAlignment: Left
ReferenceAlignment: Left
IndentCaseLabels: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakTemplateDeclarations: Yes
IncludeBlocks: Preserve
SortIncludes: Never
Standard: c++20
AlignConsecutiveAssignments: None
AlignConsecutiveDeclarations: None
BinPackArguments: true
BinPackParameters: true
SpacesBeforeTrailingComments: 1
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Never
  AfterEnum: false
  AfterFunction: true
  AfterNamespace: false
  AfterStruct: true
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  BeforeLambdaBody: false
  BeforeWhile: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false
